<div class="container">
   <div style=" text-align: center;" >
   <figure class="figure" style="max with:100%">
         <img src="{{products.image}}"  class="figure-img img-fluid rounded" >
   </figure>
   <h5>Name: {{products.name}}</h5>
   <h5>Price: ${{products.price}}</h5>
   <h5>Hot: {{products.hot}}</h5>
   <h5>Model: {{products.model}}</h5>
   <h5>Total: {{total}}</h5>
    <h5>Buy Successfully</h5>
   </div>
</div>