<!DOCTYPE html>
<html>

<head>
  <title>Service List</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <h2 class="text-center mt-4">Service List</h2>
    {{#if (eq user.role "admin")}}
      <a href="/services/add" class="btn btn-primary mb-3">Add Service</a>
    {{/if}}
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Service Code</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each services}}
        <tr>
          <td>{{this.serviceName}}</td>
          <td>{{this.serviceCode}}</td>
          <td>{{this.price}}</td>
          <td>
            <a href="/services/pay/{{this._id}}" class="btn btn-primary">Pay</a>
            {{#if (eq ../user.role "admin")}}
              <a href="/services/edit/{{this._id}}" class="btn btn-warning">Edit</a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </main>

  <footer class="text-center mt-4">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer>
</body>

</html>
